
*.xml
*.iml
*.cmake
*.txt
*.bin
*.exe
cmake-build-debug/CMakeFiles/3.10.3/CompilerIdC/CMakeCCompilerId.c
*.check_cache
*.log
cmake-build-debug/CMakeFiles/feature_tests.c
cmake-build-debug/CMakeFiles/Makefile2
cmake-build-debug/CMakeFiles/mtm_ex3_mtmflix.dir/build.make
*.make
*.includecache
*.rsp
*.marks
*.obj
cmake-build-debug/Makefile
cmake-build-debug/mtm_ex3_mtmflix.cbp
*.includecache
*.includecache
*.internal
*.includecache
*.internal
*.obj
*.obj
*.obj
cmake-build-debug/CMakeFiles/Progress/1
cmake-build-debug/CMakeFiles/Progress/2
*.a
.idea/.name
*.cbp
*.c___jb_tmp___
